@import url(https://fonts.googleapis.com/css?family=Varela);
body{
	margin:0;
	padding:0;
}

#weapper {
	width: auto;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	
}
#logo{
	width: 152px;
	height: 42px;
	background-image: url(image/Logo.png);
	padding-top: 10px;
	float: left;
    margin-top: 25px;
    margin-left: 10px;
}
.mbar{
	 float: left;
    margin-top: 40px;
    margin-left: 35px;
 
}
#menu {
	width: auto;
	height: 96px;
	background-color:	#222222;
}
#menu a {
	color:#BBBBBB;
	text-decoration: none;
	

}
#slide_show {
	width: auto;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	margin:0;
}

#note{
	width: auto;
	height:324;
	background-color: #333333;
	margin-right: auto;
	margin-left: auto;

}
#product{
	width: auto;
	height: 1625;
	background-color: #f20;
	margin-right: auto;
	margin-left: auto;
}
video {
  width: 100%    !important;
  height: auto   !important;
  opacity: 0.6;
    filter: alpha(opacity=60);
   
}
#text_1{
	width: auto;
	height: auto;


}
#note img{
	padding-top: 324px;

}












